
<style>
    .form-control {
        width: 100%;
    }
</style>


<div class="content-page">
    <!-- Start content -->
    <div class="content">

        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <h2 class="col-md-6">Report Incident</h2>
                            
                        </div>

                    </div>
                </div>
            </div>
 



            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <div class="col-md-12">
                               
                                <br />
                                <b>Thank you for reporting the event. Your report will be registered after reviewing the details.</b>
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br /><br />
<br />
<br />
<br />
<br /><br />
<br />
<br />
<br />
<br /><br />
<br />
<br />
<br />
<br />
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>




      


    </div>
</div>

 





